In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Ali\Downloads\csv_datasets\iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df=df.drop(columns=['species'])

In [6]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [32]:
sum=0
for i in df['sepal_length']:
    sum=sum+i
print('The sum of the values in sepal length column is', sum)
mean=sum/len(df)
print('The mean of the values in sepal length column is', mean)

# NOW CALCULATING THE DEVIATIONS #
df['dev1']=df['sepal_length']-mean
df['dev1']

# NOW CALCULATING THE VARIANCE #
# SQUARING THE TERMS (X-MEAN(X)) #
df['SD1']=df['dev1']**2

# SUM OF VALUES OF SQUARED TERMS #
sum=0
for i in df['SD1']:
    sum=sum+i
print('The sum of the squared values of x-mean(x) is:',sum)

# DIVIVDING BY THE TOTAL TERMS TO GET VARIANCE #
variance1=sum/len(df)
variance1
sd1=variance1**0.5
print('The standard deviation of sepal length column is:',sd1)

The sum of the values in sepal length column is 876.5000000000002
The mean of the values in sepal length column is 5.843333333333335
The sum of the squared values of x-mean(x) is: 102.16833333333332
The standard deviation of sepal length column is: 0.8253012917851409

In [35]:
add=0
for i in df['sepal_width']:
    add=add+i
print('The sum of the sepal width column values is:',add)
print('The mean of the sepal width column values is:',add/len(df))

df['dev2']=df['sepal_width']-add/len(df)
df['dev2']

df['SD2']=df['dev2']**2
add=0
for i in df['SD2']:
    add=add+i
variance2=add/len(df)
variance2

sd2=variance2**0.5
print('The standard deviation of sepal width column is:',sd2)

The sum of the sepal width column values is: 458.60000000000014
The mean of the sepal width column values is: 3.057333333333334
The standard deviation of sepal width column is: 0.43441096773549437

In [43]:
add=0
for i in df['petal_length']:
    add=add+i
print('The sum of the petal length column values is:',add)
mean=add/len(df)
mean
df['dev3']=df['petal_length']-mean
df['dev3']

df['SD3']=df['dev3']**2
add=0
for i in df['SD3']:
    add=add+i
print('The sum of the deviation values is:',add)
variance3=add/len(df)
variance3
sd3=variance3**0.5
print('The standard deviation of petal length column is:',sd3)

The sum of the petal length column values is: 563.7000000000004
The sum of the deviation values is: 464.3254000000001
The standard deviation of petal length column is: 1.7594040657753032

In [45]:
add=0
for i in df['petal_width']:
    add=add+i
print('The sum of the petal width column values is:',add)
mean=add/len(df)
mean
df['dev4']=df['petal_width']-mean
df['dev4']

df['SD4']=df['dev4']**2
add=0
for i in df['SD4']:
    add=add+i
print('The sum of the deviation values is:',add)
variance4=add/len(df)
variance4
sd4=variance4**0.5
print('The standard deviation of petal length column is:',sd4)

The sum of the petal width column values is: 179.90000000000012
The sum of the deviation values is: 86.56993333333332
The standard deviation of petal length column is: 0.7596926279021594

In [46]:
df

,sepal_length,sepal_width,petal_length,petal_width,dev1,SD1,dev2,SD2,dev3,SD3,dev4,SD4
0,5.1,3.5,1.4,0.2,-0.743333,0.552544,0.442667,0.195954,-2.358,5.560164,-0.999333,0.998667
1,4.9,3.0,1.4,0.2,-0.943333,0.889878,-0.057333,0.003287,-2.358,5.560164,-0.999333,0.998667
2,4.7,3.2,1.3,0.2,-1.143333,1.307211,0.142667,0.020354,-2.458,6.041764,-0.999333,0.998667
3,4.6,3.1,1.5,0.2,-1.243333,1.545878,0.042667,0.001820,-2.258,5.098564,-0.999333,0.998667
4,5.0,3.6,1.4,0.2,-0.843333,0.711211,0.542667,0.294487,-2.358,5.560164,-0.999333,0.998667
...,...,...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.856667,0.733878,-0.057333,0.003287,1.442,2.079364,1.100667,1.211467
146,6.3,2.5,5.0,1.9,0.456667,0.208544,-0.557333,0.310620,1.242,1.542564,0.700667,0.490934
147,6.5,3.0,5.2,2.0,0.656667,0.431211,-0.057333,0.003287,1.442,2.079364,0.800667,0.641067
148,6.2,3.4,5.4,2.3,0.356667,0.127211,0.342667,0.117420,1.642,2.696164,1.100667,1.211467
149,5.9,3.0,5.1,1.8,0.056667,0.003211,-0.057333,0.003287,1.342,1.800964,0.600667,0.360800

In [48]:
df['cov1']=df['dev1']*df['dev2']
add=0
for i in df['cov1']:
    add+=i
cov1=add/len(df)
cov1

-0.04215111111111109

In [49]:
df['cov2']=df['dev3']*df['dev4']
add=0
for i in df['cov2']:
    add+=i
cov2=add/len(df)
cov2

1.2869719999999993

In [51]:
cor1=cov1/(sd1*sd2)
cor1

-0.11756978413300205

In [52]:
cor2=cov2/(sd3*sd4)
cor2

0.9628654314027956